@{
    Layout = "_Layout";
}
@using DoctorOffice.Models;
@model DoctorOffice.Models.Appointment

<main>
    <div class="page-list">
        <h3>Appointments</h3>
        <span>@Html.ActionLink("Add Appointment", "Create", "Appointments")</span>
    </div>
    <section>
        <h4>Search</h4>
        @using (Html.BeginForm("Search", "Appointments", FormMethod.Post))
        {
            <div class="form-entry">
                @Html.LabelFor(model => model.Patient)
                @Html.TextBoxFor(model => model.Patient.PatientName)
            </div>
            <div class="form-entry">
                @Html.LabelFor(model => model.Doctor)
                @Html.TextBoxFor(model => model.Doctor.DoctorName)
            </div>
            <input type="submit" value="Search" />
        }
    </section>
    <section>
        @if (ViewBag.Appointments.Count == 0)
        {
            <p>No appointments yet.</p>
        }
        else
        {
            <ul class="display-list">
                @foreach (Appointment appt in ViewBag.Appointments)
                {
                    <li>
                        <span>@Html.ActionLink($"Fl. {appt.Location.Floor} Rm. {appt.Location.Room}", "Index", "Departments")</span>
                        <span>@Html.ActionLink(@appt.Patient.PatientName, "Details", "Patients", new { id = appt.Patient.PatientId })</span>
                        <span>
                        <span>@appt.AppointmentDate</span>
                        <span>@appt.AppointmentTime</span>
                        <span>@Html.ActionLink("View", "Details", "Appointments", new { id = @appt.AppointmentId })</span>
                    </li>
                }
            </ul>
        }
    </section>
</main>