@{
    Layout = "_Layout";
}
@using DoctorOffice.Models;

<main>
    <div class="page-list">
        <h4>Doctors</h4>
        <span>@Html.ActionLink("Add Doctor", "Create")</span>
    </div>
    @if (ViewBag.Doctors.Length == 0)
    {
        <p>No doctors have been added yet.</p>
    }
    <ul>
        @foreach (Doctor doctor in ViewBag.Doctors)
        {
            string preferred = doctor.PreferredName != null ? "(" + doctor.PreferredName + ")" : "";
            <li>
                <div>@Html.ActionLink($"{doctor.FirstName} {doctor.LastName} {preferred}", "Details", "Doctors", new { id = @doctor.DoctorId })</div>
                <div>@Html.ActionLink("Edit", "Edit", "Doctors", new { id = @doctor.DoctorId })</div>
                <div>@Html.ActionLink("Delete", "Delete", "Doctors", new { id = @doctor.DoctorId })</div>
            </li>
        }
    </ul>
</main>