@{
    Layout = "_Layout";
}
@using DoctorOffice.Models;

<main>
    <div class="page-list">
        <h4>Patients</h4>
        <span>@Html.ActionLink("Add Patient", "Create")</span>
    </div>
    @if (ViewBag.Patients.Length == 0)
    {
        <p>No patients have been added yet.</p>
    }
    <ul>
        @foreach (Patient patient in ViewBag.Patients)
        {
            string preferred = patient.PreferredName != null ? "(" + patient.PreferredName + ")" : "";
            <li>
                <div>@Html.ActionLink($"{patient.FirstName} {patient.LastName} {preferred}", "Details", "Patients", new { id = @patient.PatientId })</div>
                <div>@Html.ActionLink("Edit", "Edit", "Patients", new { id = @patient.PatientId })</div>
                <div>@Html.ActionLink("Delete", "Delete", "Patients", new { id = @patient.PatientId })</div>
            </li>
        }
    </ul>
</main>