@{
    Layout = "_Layout";
}
@using DoctorOffice.Models;
@model DoctorOffice.Models.DptLocSpec

<main>
    <div class="page-list">
        <h3>Department: @Model.Dpt.DepartmentName</h3>
        <span>@Html.ActionLink("Delete", "Delete", new { id = @Model.Dpt.DepartmentId })</span>
    </div>
    <section>
        @using (Html.BeginForm("Edit", FormMethod.Post))
        {
            <div class="form-entry">
                @Html.Label("Department")
            </div>
        }
    </section>
    <section>
        @using (Html.BeginForm("AddLocation"))
        {
            @Html.HiddenFor(model => model.Dpt.DepartmentId)
            <div class="form-entry">
                @Html.Label("Loc", "Location")
                @Html.EditorFor(model => model.Loc.Floor)
                @Html.EditorFor(model => model.Loc.Room)
            </div>
            <input type="submit" value="Add Location" />
        }
        <ul class="display-list">
            @foreach (Location location in @Model.Dpt.Locations)
            {
                <li>
                    <span>@location.LocationType</span>
                    <span>@location.FloorRoom</span>
                    <span>@Html.ActionLink("Edit", "Edit", new { id = @location.LocationId })</span>
                    <span>@Html.ActionLink("Delete", "Delete", new { id = @location.LocationId })</span>
                </li>
            }
        </ul>
    </section>
    <section>
        @using (Html.BeginForm("AddSpecialty"))
        {
            @Html.HiddenFor(model => model.Dpt.DepartmentId)
            <div class="form-entry">
                @Html.Label("Spec", "Specialty")
                @Html.TextBoxFor(model => model.Spec.SpecialtyName)
            </div>
            <input type="submit" value="Add Specialty" />
        }
        <ul class="display-list">
            @foreach (Specialty specialty in @Model.Dpt.Specialties)
            {
                <li>
                    <span>@specialty.SpecialtyName</span>
                </li>
            }
        </ul>
    </section>
</main>